#defline  {
    white-space : normal;
    font-weight:normal;
}

.ui-icon-bird {
  background: url(icons/23-bird.png);
}
.ui-icon-eye {
  background: url(icons/12-eye.png);
}
.ui-icon-weather {
  background: url(icons/25-weather.png);
}
.ui-icon-heart {
  background: url(icons/29-heart.png);
}
.ui-icon-paperclip {
  background: url(icons/68-paperclip.png);
}
.ui-icon-book {
  background: url(icons/96-book.png);
}
.ui-icon-bullhorn {
  background: url(icons/124-bullhorn.png);
}

   #pgridLineBtn{
    position:relative;
    bottom: -6px;
    }
    .pgridOffButton{
        width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_boff.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
    }
    
    
    .pgridOnButton {
      	width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_bon.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
    } 
    
     .pgridNullButton {
      	width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_bnullIos.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
   } 
   
    
    .pgridOffBigButton{
        width: 36px !important;    
        height: 47px !important;   
        background: url('img/pgrid_boff.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 9px;
        bottom: 6px;
    }
    
    .pgridOnBigButton {
      	width: 36px !important;    
        height: 47px !important;   
        background: url('img/pgrid_bon.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 9px;
        bottom: 6px;
    } 
    
   .pgridNullBigButton {
     	width: 48px !important;    
       height: 47px !important;   
       background: url('img/pgrid_bnullIos.png') no-repeat center center !important; 
       background-size: contain !important;
       border: none !important;
       outline:0;
       box-shadow: none;
       text-shadow: none;
   } 
   
       
    a[data-role="button"][data-theme="reset"] {
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
    text-decoration: none;
    }
    a[data-role="button"][data-theme="reset"] .ui-btn-inner {
        color: black;
        overflow: visible;
        text-shadow: 0 0px 0 #000;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: 0px solid #000;
        border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
        
        box-shadow: 0 0px 0 rgba(0,0,0, 0.), inset 0 0px 0px rgba(0,0,0, 0);
            -webkit-box-shadow: 0 0px 0 rgba(255,255,255, 0.25), inset 0 0px 0px rgba(0,0,0, 0.2);
            -moz-box-shadow: 0 0px 0 rgba(255,255,255, 0.25), inset 0 0px 0px rgba(0,0,0, 0.2);
        }

    /* no-background */
    a[data-role="button"][data-theme="reset"].app-theme-none .ui-btn-inner {
        color: #222;
        background: none;
        border: none;
        box-shadow: none;
           text-shadow: none;
        }
        
        
        
        
        
  .word_to_search_e {
	border: 1px solid 		#f4c63f /*{e-bup-border}*/ !important;
	background: 			#fadb4e /*{e-bup-background-color}*/!important;
	
	white-space : normal;
    font-weight:normal;
    
	color: 					#222 /*{e-bup-color}*/!important;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ 	#fff /*{e-bup-shadow-color}*/ !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffefaa /*{e-bup-background-start}*/), to( #ffe155 /*{e-bup-background-end}*/)) !important ; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/) !important;
	cursor: default !important;
}

.dnb {
	border: 1px solid 		#bbb /*{d-bup-border}*/ !important;
	background: 			#fff /*{d-bup-background-color}*/ !important;
	font-weight: bold;
	color: 					#333 /*{d-bup-color}*/ !important;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/ !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fafafa /*{d-bup-background-start}*/), to( #f6f6f6 /*{d-bup-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #fafafa /*{d-bup-background-start}*/, #f6f6f6 /*{d-bup-background-end}*/) !important ;
	cursor: default !important;
}

    