   
   
   
   #pgridLineBtn{
    position:relative;
    bottom: -6px;
    }
    .pgridOffButton{
        width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_boff.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
    }
    
    
    .pgridOnButton {
      	width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_bon.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
    } 
    
     .pgridNullButton {
      	width: 37px !important;    
        height: 37px !important;   
        background: url('img/pgrid_bnullIos.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 15px;
        bottom: -4px;
   } 
   
    
    .pgridOffBigButton{
        width: 36px !important;    
        height: 47px !important;   
        background: url('img/pgrid_boff.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 4px;
        bottom: 0px;
    }
    
    .pgridOnBigButton {
      	width: 36px !important;    
        height: 47px !important;   
        background: url('img/pgrid_bon.png') no-repeat center center !important; 
        background-size: contain !important;
        border: none !important;
        outline:0;
        box-shadow: none;
        text-shadow: none;
        position:relative;
        left: 4px;
        bottom: 0px;
    } 
    
   .pgridNullBigButton {
     	width: 48px !important;    
       height: 47px !important;   
       background: url('img/pgrid_bnullIos.png') no-repeat center center !important; 
       background-size: contain !important;
       border: none !important;
       outline:0;
       box-shadow: none;
       text-shadow: none;
   } 
   
       
    a[data-role="button"][data-theme="reset"] {
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
    text-decoration: none;
    }
    a[data-role="button"][data-theme="reset"] .ui-btn-inner {
        color: black;
        overflow: visible;
        text-shadow: 0 0px 0 #000;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: 0px solid #000;
        border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
        
        box-shadow: 0 0px 0 rgba(0,0,0, 0.), inset 0 0px 0px rgba(0,0,0, 0);
            -webkit-box-shadow: 0 0px 0 rgba(255,255,255, 0.25), inset 0 0px 0px rgba(0,0,0, 0.2);
            -moz-box-shadow: 0 0px 0 rgba(255,255,255, 0.25), inset 0 0px 0px rgba(0,0,0, 0.2);
        }

    /* no-background */
    a[data-role="button"][data-theme="reset"].app-theme-none .ui-btn-inner {
        color: #222;
        background: none;
        border: none;
        box-shadow: none;
           text-shadow: none;
        }
    